<%= @current_monster %>

<form action="create_monster">
  <label for="new_monster">Enter in the name of your new monster</label>
  <input type="text" name="new_monster" id="new_monster">
  <br>
  <button type="submit" class="btn btn-success">Create!</button>
</form>
